* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar ul li a {
  padding: 14px 17px;
  display: block;
}

.head_secondary {
  font-size: 2rem;
}
#graphic_cards {
  padding: 83px 7px;
}
.head_primary {
  font-size: 2rem;
}
#product {
  margin: 200px 2px;
}
