* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  flex-direction: column;
}
#navbar ul li a {
  padding: 14px 17px;
  display: block;
}

.head_secondary {
  font-size: 2rem;
}
#graphic_cards {
  padding: 354px 7px;
}
.head_primary {
  font-size: 2rem;
}
#product {
  margin: 36px 2px;
  flex-direction: column;
}
#product .box {
  width: 308px;
}
