html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar ul {
  display: flex;
}
li {
  list-style: none;
}
#navbar::before {
  content: "";
  background-color: aquamarine;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
#navbar {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
#navbar ul li a {
  text-decoration: none;
  color: #000000;
  padding: 10px 37px;
}
/*Section GraphicCards*/
#graphic_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px 20px;
  justify-content: center;
}
#graphic_cards::before {
  content: "";
  background: url('../css/pexels-nana-dua-4581613.jpg') no-repeat center
    center/cover;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
/*Utility Classes*/
.center {
  text-align: center;
}
.head_primary {
  color: white;
  font-size: 3rem;
}
p {
  color: white;
}
.head_secondary {
  color: black;
}
/*Product Section*/
#product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 246px;
}
